<html>
    <head>
        <title>WOZ control panel</title>
        <meta charset="gbk"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
        <link href="/lib/css/vendor/bootstrap.min.css" rel="stylesheet">
        <link href="/lib/css/flat-ui.css" rel="stylesheet">    
        <link rel="stylesheet" href="/stylesheets/agent.css"/>
    </head>
    <body>
        <div id="root">
            <div id="msg-box" class="flex-with-title">
                <div id="msg-title" class="flex-title">
                    <span id="msg-title-span">实验记录</span>
                    <span id="test-info-span" v-if="test_started">实验进行中, 当前实验组id：{{ cuid }}，总计错误次数：{{ error_count }}次</span>
                    <span id="test-info-span" v-else>实验未开始</span>
                </div>
                <div id="msg-list" class="flex-remains">
                    <div v-for="msg in msgs" class="message">
                        {{msg.is_user ? "用户" : "WIZARD"}} : {{msg.text}}
                    </div>
                </div>
            </div>
            <div id="choose-box" class="flex-with-title">
                <span id="choose-title" class="flex-title">可选回复</span>
                <div id="choose-inner-box" class="flex-remains">
                    <div id="script-list">
                        <button v-for="script in scripts" v-on:click="chooseScript(script.filename)" class="script-button btn btn-inverse">
                            {{ script.description }}
                        </button>
                    </div>
                    <div id="section-list">
                        <button v-for="sect in sections" v-on:click="chooseSection(sect.name)" class="section-button btn btn-info">
                            {{ sect.description }}
                        </button>
                    </div>
                    <div id="choose-list">
                        <button v-for="option in options" :key="option.id" v-on:click.exact="addAgentMsg(option.content)" v-on:click.alt.exact="addAndSubmit(option.content)" class="option-button btn btn-primary">
                            {{ option.content.name }}
                        </button>
                    </div>
                </div>
            </div>
            <div id="reply-box">
                <div id="reply-inner-box">
                    <div id="wakeup-buttons">                    
                        <div id="wakeup-button" v-bind:class="[wakeup ? wakeupButtonClass : unwakeupButtonClass, buttonClass]" v-on:click="triggerWakeup()">
                            <span id="unwakeup-span" class="fui-eye" v-if="wakeup">取消</span>
                            <span id="wakeup-span" class="fui-eye wakeup-button-fui" v-else>唤醒</span>
                        </div>
                        <!-- <div id="wakeup-button-with-voice" v-bind:class="[unwakeupButtonClass, buttonClass]" v-on:click="voiceWakeup()">
                            <span id="wakeup-span-voice" class="fui-volume wakeup-button-fui">唤醒（语音问候）</span>
                        </div>
                        <div id="wakeup-button-with-vibrate" v-bind:class="[unwakeupButtonClass, buttonClass]" v-on:click="vibrateWakeup()">
                            <span id="wakeup-span-vibrate" class="fui-alert-circle wakeup-button-fui">唤醒（手机震动）</span>
                        </div> -->
                    </div>
                    <div id="reply-area">
                        <div v-for="(slice, slice_id) in reply" class="btn reply-slice"  v-on:click="removeSlice(slice_id)">
                            <template v-for="span in slice.spans" class="span">
                                <div v-if="span.isSlot" class="reply-slot" v-on:click.stop>
                                    <input type="text" class="form-control slot-input" v-bind:placeholder="span.hint" v-model="span.text">
                                    </input>
                                </div>
                                <span v-else class="reply-text">
                                    {{span.text}}
                                </span>
                            </template>
                        </div>
                    </div>
                    <div id="reply-buttons">                    
                        <div id="error-button" class="btn btn-info" v-on:click="submitError()">
                            <span id="error-button-fui" class="fui-alert-circle">发生错误</span>
                        </div>
                        <div id="reply-button" class="btn btn-primary" v-on:click="submitReply()">
                            <span id="reply-button-fui" class="fui-upload">{{ replyIsEmpty? '停止发音' : '回复文本' }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/lib/scripts/jquery-3.3.1.min.js"></script>
        <script src="/lib/scripts/popper.min.js"></script>
        <script src="/lib/scripts/flat-ui.js"></script>
        <script src="/javascripts/socket.io.js"></script>
        <script src="/javascripts/agent.js"></script>
        <script>
            agent();
        </script>
    </body>
</html>