<html>
    <head>
        <title>WOZ control panel</title>
        <meta charset="gbk"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
        <link href="/lib/css/vendor/bootstrap.min.css" rel="stylesheet">
        <link href="/lib/css/flat-ui.css" rel="stylesheet">    
        <link rel="stylesheet" href="/stylesheets/agent.css"/>
    </head>
    <body>
        <div id="root">
            <div id="msg-box" class="flex-with-title">
                <span id="msg-title" class="flex-title">历史记录</span>
                <div id="msg-list" class="flex-remains">
                    <div v-for="msg in msgs" class="message">
                        {{msg.is_user ? "用户" : "WIZARD"}} : {{msg.text}}
                    </div>
                </div>
            </div>
            <div id="choose-box" class="flex-with-title">
                <span id="choose-title" class="flex-title">可选回复</span>
                <div id="choose-list" class="flex-remains">
                    <button v-for="option in options" :key="option.id" v-on:click="addAgentMsg(option.text)" class="option-button btn btn-primary">
                        {{ filterSlot(option.text) }}
                    </button>
                </div>
            </div>
            <div id="reply-box">
                <div id="reply-inner-box">
                    <div id="wakeup-button" v-bind:class="[wakeup ? wakeupButtonClass : unwakeupButtonClass, buttonClass]" v-on:click="triggerWakeup()">
                        <span id="wakeup-button-fui" class="fui-eye" v-if="wakeup">取消唤醒</span>
                        <span id="wakeup-button-fui" class="fui-eye" v-else>告知唤醒</span>
                    </div>
                    <div id="reply-area">
                        <div v-for="(slice, slice_id) in reply" class="btn reply-slice">
                            <template v-for="span in slice.spans" class="span">
                                <div v-if="span.isSlot" class="reply-slot">
                                    <input type="text" class="form-control slot-input" v-bind:placeholder="span.hint" v-model="span.text">
                                    </input>
                                </div>
                                <span v-else class="reply-text">
                                    {{span.text}}
                                </span>
                            </template>
                            <span v-on:click="removeSlice(slice_id)" class="fui-cross remove-slice-button"></span>
                        </div>
                    </div>
                    <div id="reply-button" class="btn btn-primary" v-on:click="submitReply()">
                        <span id="reply-button-fui" class="fui-upload">回复文本</span>
                    </div>
                </div>
            </div>
        </div>
        <script src="/lib/scripts/jquery-3.3.1.min.js"></script>
        <script src="/lib/scripts/popper.min.js"></script>
        <script src="/lib/scripts/flat-ui.js"></script>
        <script src="/javascripts/socket.io.js"></script>
        <script src="/javascripts/agent.js"></script>
        <script>
            agent();
        </script>
    </body>
</html>